body {
  font-family: "roboto", sans-serif;;
}

h1, h3 {
  margin-top: 0;
  font-size: x-large;
  background-color: #00BCD4;
  text-align: center;
}

p {
  font-size: large;
  width: 80%;
  text-align: center;
}
