body {
  margin: 0 auto;
  font-family: "roboto", sans-serif;;
}

h1 h3 {
  margin-top: 0 auto;
  width: 80%;
  text-align: center;
  background-color: #00BCD4;
  display: inline-block;
}

p {
  display: inline-block;
  font-size: medium;
  width: 80%;
  margin 0 auto;
}
